html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* COLORS */
.bg-secondary-color {
  background-color: #d9d9d9;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*HEADER*/

.navbar {
  height: 80px;
  padding: 0 34px;
}

.navbar .navbar-logo .logo-text {
  font-size: 30px;
}

.dropdown-menu {
  border-radius: 10px;
  background-color: #AAAAAA;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
}

/*FOOTER */

footer{
  flex-shrink: 0;
  font-size: 24px;
  padding: 34px 0;
}

footer p {
  margin-bottom: 0;
}

footer .footer-contact {
  gap: 11px;
}

footer .footer-contact a {
  text-decoration: none;
  color: #000;
}

/*TELA PORTFOLIO ANIMAIS*/

.title-area {
  margin-top: 70px;
}

.container .row {
  margin-bottom: 59px;
}

.container .image-area {
  width: 250px;
  height: 250px;
  background-color: #d9d9d9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.container .info-area .animal-info .animal-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .info-area .animal-info .animal-icon img{
  width: 30px;
  height: 30px;
}


.container .info-area .animal-info, 
.animal-location {
  display: flex;
  align-items: center;
  gap: 9px;
}

.pagination * {
  border: none !important;
}

.pagination .page-link {
  color: #000;
  font-size: 30px;
}

.selected {
  font-weight: bolder;
}