@model ONGManager.Models.CadastroAnimal

<h2>Conheça @Model.nome</h2>

<p><strong>Nome:</strong> @Model.nome</p>
<p><strong>Raca:</strong> @Model.raca</p>
<p><strong>Idade:</strong> @Model.idade</p>

<a asp-action="Index">Voltar</a>
